img {
    width: 200px;
}

.FlaghtStyle {
    border: 2px solid silver;
    margin-bottom: 6px;
}


.FlaghtNYI {
    display: flex;
    margin-left: 15%;

}

.nameYear {
    width: 50%;
    margin: auto;
}

.imgStyle {
    width: 50%;
    margin-left: 20%;
}
